extends layout
block content
    .navbar.navbar-fixed-top.navbar-inverse(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') Open Data 76


    .row.row-offcanvas.row-offcanvas-right
        // etablissement list
        #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
            #list-etablissement.list-group
                li.list-group-item.title Liste des collèges
                if (locals.etablissements)
                    each etablissement, i in locals.etablissements
                        a.list-group-item.list-etablissement(data-etablissement=i) #{etablissement.etablissement}
        #sidebar.col-xs-6.col-sm-2.sidebar-offcanvas.list-details(role='navigation')
            #list-details.list-group
                li.list-group-item.title Autour du point

        .col-xs-12.col-sm-7

            #map-canvas






    hr
    footer
        p HackHours - Portail OpenData76 © Company 2014
