doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')

    script(src='/bootstrap/js/bootstrap.min.js')
    script(src="/socket.io/socket.io.js")



    script(src="/javascripts/script.js")
    script(src="/javascripts/templates.js")

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXcRxnT485VtiEFJpNK-sIuAX8GA6kfRo&sensor=false")



          body
    block content


